<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
  <% end %>
  <p>image：<%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>name:<%= book.user.name %></p>
  <p><%= link_to "show", edit_book_path(@books) %></p>
</div>
<% end %>